# Next.js
.next/
out/
build/

# Production
node_modules/
.env*.local

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# OS
.DS_Store
Thumbs.db

# Genkit
genkit-state.json
